In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [ ]:
response = requests.get(url)

In [ ]:
response.status_code

In [ ]:
response.content

In [ ]:
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper")

In [ ]:
title = []
for t in soup.select("p.title-artist cite.title"):
    title.append(t.get_text())
title

In [ ]:
artist = []
for a in soup.select("p.title-artist em.artist"):
    artist.append(a.get_text())
artist

In [32]:
chart = pd.DataFrame({"song": title, "artist": artist})
chart

                                 song            artist
0                      TEXAS HOLD 'EM           Beyoncé
1                        Lose Control       Teddy Swims
2                    Beautiful Things      Benson Boone
3                             Flowers       Miley Cyrus
4             Turn the Lights Back On        Billy Joel
..                                ...               ...
95  To Be A Man (feat. Darius Rucker)               Dax
96                           The Door       Teddy Swims
97                         It Takes 3  Pitbull & Vikina
98                      bury a friend     Billie Eilish
99                        Unstoppable               Sia

[100 rows x 2 columns]